.advantages
    @media (min-height: 780px)
        margin-top: -3.5rem
    @media (min-height: 1200px) and (orientation: portrait)
        margin-top: -4rem!important
    @media (min-width: 1366px)
        margin-top: 0!important
    &__box
        margin-top: 3.5rem
        transition: .5s
        &:hover
            cursor: pointer
            transform: scale(1.05)
        &__img
            @media (min-width: 768px)
                transform: scale(1.3)
                margin-bottom: 20px
        &__tittle
            @include font-size(1rem)
            margin-top: 25px
            @media (min-width: 360px)
                @include font-size(1.1rem)
            @media (min-height: 1024px)
                @include font-size(1.4rem)
        &__description
            padding: 0 15px
            color: hsl(0, 0%, 85%)
