.advantages
    margin-top: 40px
    @media (min-height: 780px)
        margin-top: -30px
    &__box
        margin-top: 3.5rem
        &__tittle
            @include font-size(1rem)
            margin-top: 25px
            @media (min-width: 360px)
                @include font-size(1.1rem)
        &__description
            padding: 0 15px
            color: hsl(0, 0%, 85%)
