.footer
    color: hsl(0, 0%, 90%)
    background-color: hsl(216, 53%, 9%)
    padding-top: 200px
    @media (min-width: 1200px)
        padding-top: 100px
    @media (min-width: 1920px)
        padding-top: 130px
    &__img-container
        width: 55%
        @media (min-width: 1200px)
            width: 15%
    &__content
        &__info
            display: flex
            align-items: start
            @include font-size(.85rem)
            @media (min-width: 360px)
                @include font-size(.9rem)
            &__img
                width: 15px
                margin-right: 20px
                margin-top: 4px
    &__nav
        @include font-size(.9rem)
        &__list
            list-style: none
            padding-left: 0
            &__item
                margin-top: 20px
                a
                    color: hsl(0, 0%, 85%)
                    transition: color .2s
                a:hover
                    color: white
    &__social-icons
        &__link
            img
                transition: transform .2s
            img:hover
                transform: scale(1.2)
